{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.1.1.min.js">
</script> 
</head>
<body onload = "listsongs()">
<div id = "photo">
</div>
<div id = "leftbar">
<img src = "/static/left.jpg">
</div>
<div id = "header">
<h1>Moody - Emotion Based Music Player</h1>
</div>
<div id = "musicplayer">
<div id = "mood">
<button id = "click" style = "width:150px;background-color:#191919;"  onclick = "mooddetect(1)">Enable Moody</button>
</div>
<div id = "details">
<p id = "songname">{{ songs.0.song_title }}</p> 
</div>
<div id = "buttons">
<table>
<tr>
<td><p id = "currenttime"></p></td>
<td><progress id="seekbar" value="0" max="1"></progress></td>
<td><p id = "totallength"></p></td>
</tr>
</table>
</div>
<div id = "menu">  
<audio src="{{ songs.0.file.url }}" id="player"></audio>
<button id = "prev" onclick = "prev()">PREV</button>
<button id = "play" onclick = "play()">PLAY</button>
<button id = "next" onclick = "next()">NEXT</button>
<input id="volume" min="0" max="1" step="0.1" type="range" onchange="setVolume()"/>
</div>
<div id = "category">
<ul>
  <li><a href="{% url 'home' %}" onclick = "listsongs()">All Songs</a></li>
  <li><a href="#" onclick = "showplaylist()">Playlists</a></li>
  <li><a href="#">Favourites</a></li>
</ul>
</div>
<div id = "songlist2" style = "margin:0;border-bottom:1px solid black;height:40px;">
<form name = "form" enctype = "multipart/form-data" 
         action = "/upload/" method = "POST" >
<table style="width:318px;
    table-layout: fixed;">
<tr>
         
<td style ="width:220px;padding:0;margin:0;"><input type = "file" placeholder = "Picture" name = "picture" /></td>
<td style = "padding:0;margin:0;"><button type = sumbit>Upload</button></td>
</tr>
</table>
         
</form>
</div>
<div id = "songlist" class = 'scroll'>
</div>
</div>
<div id = "footer">
<b><p style="padding:10px;">Created By - IIT2013056, IIT2013131, IIT2013163</p></b>
</div>
<script>
var isplay = 0;
var pname = "";
var tisplay = 0;
var tpname = "";
var happy = [];
var sad = [];
var sur = [];
var cnt = 0;
var hcount = 0;
var scount = 0;
var ismood = 0;
document.getElementById('seekbar').addEventListener('click', function (e) {
    var player = document.getElementById('player');
    var bar = document.getElementById('seekbar');
    var percent = e.offsetX / bar.offsetWidth;
    player.currentTime = percent * player.duration;
});
document.getElementById('player').addEventListener("timeupdate", function() {
	document.getElementById("seekbar").value = this.currentTime/this.duration;
});
document.getElementById('player').addEventListener("ended", function() {
    clearInterval(t);
    if(document.getElementById('click') == 'Disable Moody') {
	   document.getElementById("next").click();
    }
    else {
        cnt = 0;
        mooddetect(0);
        t = setInterval(mooddetect,5000)

    }
});
document.getElementById('player').addEventListener("canplay", function() {
	document.getElementById("currenttime").innerHTML = formatTime(player.currentTime);
	document.getElementById("totallength").innerHTML = formatTime(player.duration);

});
document.getElementById('player').addEventListener("timeupdate", function() {
	document.getElementById("currenttime").innerHTML = formatTime(player.currentTime);

});
 var t;
 var pmood = "";
function testing() {
    $.ajax({
    url: '/test/',
    type:"POST",
    cache:false,
    success: function(data) {
        var x = document.getElementById('leftbar');
        var p = document.createElement('p');
        p.innerHTML = "Happy:" + data.ha + "," + "Sad:" + data.sa + "," + "Surprise" + data.sua + "," + "Accuracy:" + data.score;
        p.style.color = "black";
        x.appendChild(p);
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function mooddetect(z) {
    var b = document.getElementById('click');
    if(z == 1) {
        if(b.innerHTML == "Enable Moody") {
            t = setInterval(mooddetect, 5000);
            b.innerHTML = "Disable Moody";
        }
        else {
            clearInterval(t);
            b.innerHTML = "Enable Moody";
            clearInterval(t);
        }
    } 
    $.ajax({
    url: '/mooddetect/',
    type:"POST",
    data:{"cnt":cnt},
    cache:false,
    success: function(input) {
        if(input.mood != "not found") {
            var mood = parseInt(input.mood);
            var flag = parseInt(input.flag);
            var m = "sad";
            if(flag == 1) {
                m = "surprise";
            }
            else if (mood == 0) {
                m = "happy";
            }
            var x = document.getElementById('photo');
            var p = document.createElement('p');
            var p1 = document.createElement('p');
            p1.style.color = "black";
            p1.id = "ecount";
            p1.innerHTML = "happycnt:" + input.hcount + "," + "sadcnt:" + input.scount + "sucount:" + input.sucount;
            p.style.color = "black";
            p.innerHTML = m;
            x.innerHTML = "";
            var name = "/static/detect/test" + cnt + ".jpg";
            
            var i = document.createElement('img');
            i.src = "/static/detect/test.jpg?" + new Date().getTime();;
            x.appendChild(p1);
            x.appendChild(p);
            x.appendChild(i);
            if(cnt == 0) {
                var data = input.result;
                var fmood = input.fmood;
                alert(fmood);
                if(fmood == pmood) {
                    document.getElementById('next').click();
                }
                else {
                    pmood = fmood;
                    pname = fmood;
                    
                    isplay = 1;
                    if(pname == "happy") {
                        happy = data;
                        showpsongs("happy");
                    }
                    else if(pname == "sad") {
                        sad = data;
                        showpsongs("sad");
                    }
                    else {
                        sur = data;
                        showpsongs("surprise");
                    }
                    playsong(data[0]['fields']['song_title'],data[0]['fields']['file']);
                }
            }
            cnt = cnt+1;
        }

    },
    error: function(xhr, textStatus, errorThrown){
       
    }
}); 
}
function formatTime(seconds) {
    minutes = Math.floor(seconds / 60);
    minutes = (minutes >= 10) ? minutes : "0" + minutes;
    seconds = Math.floor(seconds % 60);
    seconds = (seconds >= 10) ? seconds : "0" + seconds;
    return minutes + ":" + seconds;
}

function playsong(song,file) {
	resetPlayer();
	file = "/media/" + file;
	document.getElementById('songname').innerHTML = song;
	var player = document.getElementById('player');
	player.src = file;
	player.load();
	player.play();
}

function resetPlayer() {
	var playpause = document.getElementById("play");
	var player = document.getElementById('player');
	playpause.innerHTML = "PAUSE";
	if (player.currentTime > 0) player.currentTime = 0;
	
}
function clearcount() {
    $.ajax({
    url: '/clearcount/',
    type:"POST",
    cache:false,
    success: function(data) {
        
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function next() {
	var p = document.getElementById('player');
	var title = document.getElementById('songname');
	var currsong = title.innerHTML;
    if(isplay == 1 && (pname == "happy" || pname == "sad") && document.getElementById('click').innerHTML == "Disable Moody") {
        clearInterval(t);
        clearcount();
        if(pname == "happy") {
            for(var i = 0; i < happy.length; i++) {
                if(happy[i]['fields']['song_title'] == currsong) {
                    playsong(happy[(i+1)%(happy.length)]['fields']['song_title'],happy[(i+1)%(happy.length)]['fields']['file']);
                }
            }
        }
        if(pname == "sad") {
            for(var i = 0; i < sad.length; i++) {
                if(sad[i]['fields']['song_title'] == currsong) {
                    playsong(sad[(i+1)%(sad.length)]['fields']['song_title'],sad[(i+1)%(sad.length)]['fields']['file']);
                }
            }
        }
        if(pname == "surprise") {
            for(var i = 0; i < sur.length; i++) {
                if(sur[i]['fields']['song_title'] == currsong) {
                    playsong(sur[(i+1)%(sur.length)]['fields']['song_title'],sur[(i+1)%(sur.length)]['fields']['file']);
                }
            }
        }
        t = setInterval(mooddetect, 5000);
    }
    else {
    	$.ajax({
        url: '/next/',
        data:{'isplay':isplay,'pname':pname,'currsong':currsong,'happy[]':happy,'sad[]':sad},
        type:"POST",
    	cache:false,
        success: function(data) {
        	playsong(data[0]['fields']['song_title'],data[0]['fields']['file'])
        },
        failure: function(data) { 
            alert('Got an error dude');
        }

    });
    } 
}
function prev() {
	var p = document.getElementById('player');
	var title = document.getElementById('songname');
	var currsong = title.innerHTML;
    if(isplay == 1 && (pname == "happy" || pname == "sad") && document.getElementById('click').innerHTML == "Disable Moody") {
        cnt = 0;
        clearInterval(t);
        if(pname == "happy") {
            for(var i = 0; i < happy.length; i++) {
                if(happy[i]['fields']['song_title'] == currsong && i > 0) {
                    playsong(happy[(i-1)%(happy.length)]['fields']['song_title'],happy[(i-1)%(happy.length)]['fields']['file']);
                }
            }
        }
        if(pname == "sad") {
            for(var i = 0; i < sad.length; i++) {
                if(sad[i]['fields']['song_title'] == currsong && i > 0) {
                    playsong(sad[(i-1)%(sad.length)]['fields']['song_title'],sad[(i-1)%(sad.length)]['fields']['file']);
                }
            }
        }
        if(pname == "surprise") {
            for(var i = 0; i < sur.length; i++) {
                if(sur[i]['fields']['song_title'] == currsong && i > 0) {
                    playsong(sur[(i-1)%(sur.length)]['fields']['song_title'],sur[(i-1)%(sur.length)]['fields']['file']);
                }
            }
        }
         t= setInterval(mooddetect, 5000);
    }
    else {
    	$.ajax({
        url: '/prev/',
        data:{'isplay':isplay,'pname':pname,'currsong':currsong},
        type:"POST",
    	cache:false,
        success: function(data) {
        	playsong(data[0]['fields']['song_title'],data[0]['fields']['file'])
        },
        failure: function(data) { 
            alert('Got an error dude');
        }
    }); 
    }
}
	
function play() {
	var player = document.getElementById('player');
	var button = document.getElementById('play');
	if(player.paused || player.ended) {
		button.innerHTML = "PAUSE";
		player.play();
	}
	else {
		button.innerHTML = "PLAY";
		player.pause(); 
	}

}

function setVolume() {
   var volume = document.getElementById("volume");
   var player = document.getElementById('player');
   player.volume = volume.value;
}
function deletesong(song) {
	$.ajax({
    url: '/deletesong/',
    type:"POST",
	cache:false,
	data:{'song':song},
    success: function(data) {
    	listsongs();
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function deleteplaylistsong(song,playlist) {
	$.ajax({
    url: '/deleteplaylistsong/',
    type:"POST",
	cache:false,
	data:{'song':song,'playlist':playlist},
    success: function(data) {
    	showpsongs(tpname);
    	
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function deleteplaylist(playlist) {
	$.ajax({
    url: '/deleteplaylist/',
    type:"POST",
	cache:false,
	data:{'playlist':playlist},
    success: function(data) {
    	showplaylist();
    	
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}

function listsongs() {
    $.ajax({
    url: '/songs/',
    type:"POST",
	cache:false,
    success: function(data) {
    	var y = document.getElementById('songlist');
    	var x = document.getElementById('songlist2');
    	y.innerHTML = "";
    	
    	var t = document.createElement('table');
    	for(var i = 0; i < data.length; i++) {
    
    		var tr = document.createElement('tr');
    		var b = document.createElement('BUTTON');
    		var b1 = document.createElement('BUTTON');
    		var td1 = document.createElement('td');
    		var td2 = document.createElement('td');
    		b1.id = "dbutton";
    		b.innerHTML = data[i]['fields']['song_title'];
    		td1.appendChild(b);
    		td2.appendChild(b1);
    		tr.appendChild(td1);
    		tr.appendChild(td2);
    		t.appendChild(tr);
    		var song = data[i]['fields']['song_title'];
    		var file = data[i]['fields']['file'];
    		b.song = song;
    		b.file = file;
    		b1.file = file;
    		b1.song = song;
    		b.onclick = function f() { isplay = 0;playsong(this.song,this.file);};
    		b1.onclick = function f1() { deletesong(this.song);};
    		b.innerHTML = data[i]['fields']['song_title'];
    	}
    	y.appendChild(t);
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function showpsongs(name) {
	document.getElementById('songlist').innerHTML = "";
	var y = document.getElementById('songlist');
    var y1 = document.getElementById('songlist2');
    y1.innerHTML = '';
    var b = document.createElement('BUTTON');
    var b1 = document.createElement('BUTTON');
    var td1 = document.createElement('td');
    var td2 = document.createElement('td');
    td1.id = "back";
    var p = document.createElement('p');
    p.innerHTML = name;
    p.style.color = "white";
    b.innerHTML = 'Add Songs';
    b1.innerHTML = 'Go Back';
    var t1 = document.createElement('table');
    var tr = document.createElement('tr');
    var td = document.createElement('td');
    td.appendChild(b);
    td1.appendChild(b1);
    td2.appendChild(p);
    tr.appendChild(td1);
    tr.appendChild(td2);
    tr.appendChild(td);
    t1.appendChild(tr);
    y1.appendChild(t1);
    b.name = name;
    b.onclick = function f() {
    	addplaylistsongs(name);
    };
    b1.onclick = function f() {
    	showplaylist();
    }
	$.ajax({
    url: '/psongs/',
    type:"POST",
	cache:false,
	data:{'name':name},
    success: function(data) {
        if(name == "happy" && happy.length > 0) {
            data = happy;
        }
        if(name == "sad" && sad.length > 0) {
            data = sad;
        }
        if(name == "surprise" && sur.length > 0) {
            data = sur;
        }
    	var t = document.createElement('table');
    	for(var i = 0; i < data.length; i++) {
    		var tr = document.createElement('tr');
    		var b = document.createElement('BUTTON');
    		var b1 = document.createElement('BUTTON');
    		var td1 = document.createElement('td');
    		var td2 = document.createElement('td');
    		b1.id = "dbutton";
    		b.innerHTML = data[i]['fields']['song_title'];
    		td1.appendChild(b);
    		td2.appendChild(b1);
    		tr.appendChild(td1);
    		tr.appendChild(td2);
    		t.appendChild(tr);
    		var song = data[i]['fields']['song_title'];
    		var file = data[i]['fields']['file'];
    		b.song = song;
    		b.file = file;
    		b1.song =song;
    		b.onclick = function f() {isplay = 1; pname = name; playsong(this.song,this.file);};
    		b1.onclick = function f1() { tisplay = 1;tpname = name;deleteplaylistsong(this.song,name);};
    	}
    	y.appendChild(t);
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function createplaylist(name) {
	$.ajax({
    url: '/createplaylist/',
    type:"POST",
	cache:false,
	data:{'name':name},
    success: function(data) {
    	showplaylist();
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function showplaylist() {
	document.getElementById('songlist').innerHTML = "";
	document.getElementById('songlist2').innerHTML = "";
	var y = document.getElementById('songlist');
    var x = document.getElementById('songlist2');
    var b = document.createElement('BUTTON');
    b.innerHTML = 'Add Playlist';
    var t1 = document.createElement('table');
    var tr = document.createElement('tr');
    var td = document.createElement('td');
    td.appendChild(b);
    tr.appendChild(td);
    t1.appendChild(tr);
    x.appendChild(t1);
    b.onclick = function f() {
    	var name = prompt("Enter playlist name");
    	if (!(name === null || name === false || name === "")) {
     		createplaylist(name);
     	}
    };
	$.ajax({
    url: '/playlist/',
    type:"POST",
	cache:false,
    success: function(data) {
    	var t = document.createElement('table');
    	for(var i = 0; i < data.length; i++) {
    		var tr = document.createElement('tr');
    		var b = document.createElement('BUTTON');
    		var b1 = document.createElement('BUTTON');
    		var td1 = document.createElement('td');
    		var td2 = document.createElement('td');
    		b1.id = "dbutton";
    		b.innerHTML = data[i]['fields']['song_title'];
    		td1.appendChild(b);
    		td2.appendChild(b1);
    		tr.appendChild(td1);
    		tr.appendChild(td2);
    		t.appendChild(tr);
    		var song = data[i]['fields']['song_title'];
    		var file = data[i]['fields']['file'];
    		b.name = data[i]['fields']['name'];
    		b1.name = b.name;
    		b1.onclick = function f1() { deleteplaylist(this.name);};
    		b.onclick = function f() {showpsongs(this.name);};
    		b.innerHTML = data[i]['fields']['name'];
    	}
    	y.appendChild(t);
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}
function addtoplaylist(name,len) {
	var a = [];
	for(var i = 0; i < len; i++) {
		if(document.getElementById('cb'+i).checked) {
			a.push(document.getElementById('cb'+i).val);
		}
	}
	$.ajax({
    url: '/addtoplaylist/',
    type:"POST",
	cache:false,
	data:{'name':name,'songs[]':a},
    success: function(data) {
    	showpsongs(name);
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 


	

}
function addplaylistsongs(name) {
	var x = document.getElementById('songlist');
	x.innerHTML = '';
	var t = document.createElement('table');
	t.id = "pt";
	$.ajax({
    url: '/addplaylistsongs/',
    type:"POST",
	cache:false,
	data:{'name':name},
    success: function(data) {
    	var b = document.createElement('BUTTON');
    	var b1 = document.createElement('BUTTON');
    	var td1 = document.createElement('td');
    	var y1 = document.getElementById('songlist2');
    	y1.innerHTML = '';
    	b.innerHTML = 'Submit';
    	b1.innerHTML = 'Go Back';
    	var t1 = document.createElement('table');
    	var tr = document.createElement('tr');
    	var td = document.createElement('td');
    	td.appendChild(b);
    	td1.appendChild(b1);
    	tr.appendChild(td1);
    	tr.appendChild(td);
    	t1.appendChild(tr);
    	y1.appendChild(t1);
    	b.name = name;
    	t1.id = 'statictable';
    	b.onclick = function f() {
    		addtoplaylist(name,data.length);
    	};
    	b1.onclick = function f() {
    		showpsongs(name);
    	}
    	for(var i = 0; i < data.length; i++) {
    		var tr = document.createElement('tr');
    		var td1 = document.createElement('td');
    		var td2 = document.createElement('td');
    		var z = document.createElement("input"); 
    		var l = document.createElement('label')
    		z.type = "checkbox";
    		z.id = "cb"+i;
    		z.val = data[i]['fields']['song_title'];
    		l.innerHTML = data[i]['fields']['song_title'];
			td1.appendChild(z);
			td2.appendChild(l);
			tr.appendChild(td1);
			tr.appendChild(td2);
			t.appendChild(tr);
			tr.id = 'ptr';
			td1.id = 'ptd1';
			td2.id = 'ptd2';
    	}
    	
    	var tr = document.createElement('tr');
    	var td1 = document.createElement('td');
    	tr.appendChild(td1);
    	t.appendChild(tr);
    	x.appendChild(t);
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 
}




</script>
</body>
</html>